.env
**/.env
cookies.txt
**/cookies.txt
azure_key.txt
**/azure_key.txt
__pycache__/
**/__pycache__/
*.pyc
.venv/
**/.venv/
/backend/media/
.pytest_cache/
**/.pytest_cache/
.coverage
.DS_Store
**/.DS_Store
backend/storage/
frontend/.env.local
frontend/node_modules/
frontend/dist/
